{% extends 'layout.html' %}
{% from 'helpers/_forms.html' import render_field %}

{% block container %}
    <div class="col-md-12 col-md-offset-1">
        <h3 class=".text-center">Login</h3>
        <form class="" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"\>

            <div class="form-group">
                {{ render_field(form.username, class='form-control', placeholder='Ingrese el nombre de usuario') }}
            </div>
            
            <div>
                {{ render_field(form.password, class='form-control', placeholder='Ingrese su contraseña') }}
            </div>

            <button type="submit" name="button", class="btn btn-primary">
                Login
            </button>
        </form>
    </div>
{% endblock %}